{% extends "index.html" %}
{% load staticfiles %}
{% block corpo %}
<h5><p>Este software foi desenvolvido como parte do trabalho de conclusção de curso de Ciência da Computação 2015-02, como proposta de resolução de problemas relacionados a ataques a controladores SDN.
Desenvolvido por:<b> Gilnei de Pellegrin;</b></p>
<p>Livre para distribuição e uso.</p>
<p>Código fonte completo está disponível no repositório: <a href="https://github.com/gilneidp/FinalProject/tree/master/ALL_FILES">PROJETO.GIT</a></li></p>
{% endblock %}
