{% extends "index.html" %}
{% load staticfiles %}
{% block corpo %}
<h2 class="page-header">Informações HoneyPot :></h2>
    <div class="col-lg-12">
      {% if hpnstatus = 1 %}
          <div class="alert alert-success" role="alert"> HoneyPot ATIVO {{x.status}} </div>
          <form role="form">
            <div class="form-group">
              <label for="Logs">Logs:</label>
              <textarea class="form-control" rows="5" id="Logs">{{data}}</textarea>
            </div>
          </form>
      {% else %}
          <div class="alert alert-danger" role="alert">O serviço HoneyPot está INATIVO .. Verifique</div>
      {% endif %}
    </div>
{% endblock %}

