{% extends "index.html" %}
{% load staticfiles %}
{% block corpo %}
<h2 class="page-header">Informações HoneyPot :></h2>
    <div class="col-lg-12">
     {% for x in hpnstatus %}
       {% if x.status > 0 %}
          <div class="alert alert-success" role="alert"> HoneyPot ATIVO na  porta: {{x.status}} </div>
          <form role="form">
            <div class="form-group">
              <label for="Logs">Logs:</label>
              <textarea class="form-control" rows="5" id="Logs">{{data}}</textarea>
            </div>
          </form>
       {% else %}
          <div class="alert alert-danger" role="alert">O serviço HoneyPt está INATIVO .. Verifique</div>
       {% endif %}
      {% endfor %}
    </div>
{% endblock %}

