{% extends "index.html" %}
{% load static from staticfiles %}
<ul class="nav nav-pills navbar-default nav-stacked" role="leftmenu">
       <li><a class="active" href="honeypotstatus.html">HoneyPot Status</a></li>
        <li role="separator" class="divider"></li>
       <li><a href="poxstats.html">POX Stats</a><li>
        <li role="separator" class="divider"></li>
       <li><a href="temporaryflows.html">Temp Flows</a><li>
        <li role="separator" class="divider"></li>
       <li><a href="poxlogs.html"> POX Logs</a></li>
        <li role="separator" class="divider"></li>
</ul>
